
<div class="col p-5 home-banner">
    <div class="container">
        <div>
            <p>Shall we dance?</p>
            <h1>We're not Lopez, <br> but you can dance like Gere.</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row right-margin">
        <div class="col my-5">
            <%= fa_icon "quote-left 4x", class: "text-muted pull-left" %>
            <h2>Best experience I had, so easy to manage my dance classes and also a incredible way to connect with other teachers and with new students</h2>
            <%= fa_icon "quote-right 4x", class: "text-muted pull-right" %>
        </div>
    </div>
    <div class="row left-margin">
        <div class="col my-5">
            <%= fa_icon "quote-left 4x", class: "text-muted pull-left" %>
            <h2> After so many months in quarantine, shall we dance is the perfect solution to explore, find and schedule fun dance classes like tango and salsa within seconds</h2>
            <%= fa_icon "quote-right 4x", class: "text-muted pull-right" %>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container d-flex justify-content-between">
        <div class="footer-links">
            <a href="#"> <%= fa_icon "facebook"%> </a>
            <a href="#"><%= fa_icon "instagram"%></a>
            <a href="#"><%= fa_icon "twitter"%></a>
        </div>
        <div class="footer-copyright">
            Want to get to know us better?
        </div>
    </div>
</div>
